.card .card1 {
  height: 400px;
  width: 600px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: rgb(80, 155, 216);
}
.card1 img {
  height: 300px;
  width: 500px;
  transform: translateX(360px) translateY(-300px);
  padding: 10px;
}

.card {
  margin: 150px 400px;
  padding: 20px 200px;
}
.card header{
  font-size: 40px;
  font-style: italic;
  margin: 150px 0;
}