.container {
  max-width: 420px;
  margin: 0 auto;
  padding: 5px 20px 20px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(222, 230, 240);
  /* height: 800px; */
}

.container form {
  padding: 10px 30px;
}
.container button {
  background-color: rgb(59, 138, 230);
  color: black;
  border: none;
  padding: 10px 10px;
  margin: 10px 0;
  border-radius: 20px;
}
label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
  background-color: transparent;
  width: 275px;
  padding: 10px 10px;
  border: 0.5px solid rgb(165, 195, 230);
}

/* .container form textarea {
  padding: 10px 10px;
  height: 30px;
  width: 275px;
  background-color: transparent;
  border: 0.5px solid  rgb(165, 195, 230);
} */
.container form textarea {
  padding: 10px 10px;
  height: auto; /* Allow the textarea to expand based on content */
  min-height: 30px; /* Set a minimum height */
  max-height: 150px; /* Set a maximum height if needed */
  width: 275px;
  background-color: transparent;
  border: 0.5px solid rgb(165, 195, 230);
  resize: none; /* Disable textarea resizing */
  overflow-y: auto; /* Show vertical scrollbar when content exceeds height */
  overflow: hidden;
}

.options {
  padding-left: 30px;
}
.options .card {
  /* background: url(https://t3.ftcdn.net/jpg/04/37/33/14/240_F_437331405_EAdBS2gNl1PWvnQHQQsaIxxEhJK4uCxy.jpg); */
  background: url(https://media.istockphoto.com/id/1153965495/vector/abstract-square-background.jpg?s=612x612&w=0&k=20&c=OM1AKI-oESl5yqHBEODpawVROykPlsjezvovuSVU3jo=);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
    /* background-color: rgb(156, 193, 223); */
  width: 30px;
  height: 200px;
  margin: 0 80px 0 0;
  display: flex;
  justify-content: space-around;
  transform: translateX(-30px);
  border: 0.5px solid black;
  /* border-radius: 40px 20px 20px 40px; */

  /* position: fixed; */
}
p {
  width: 150px;
  /* background-color: yellow; */
  font-size: 20px;
  font-style: italic;
  transform: translateX(-160px) translateY(20px);
}
.qrr {
  height: 50px;
  margin: 40px 0 0 200px;
  /* background-color: yellow; */
  position: fixed;
}
.options button {
  background-color: rgb(59, 138, 230);
  color: black;
  border: none;
  padding: 10px 10px;
  margin: 10px 0;
  border-radius: 20px;
  transform: translateY(-50px);
}
.company p {
  /* background-color: red; */
  margin: 0 0;
  width: 200px;
  height: auto;
}
.company img {

  width: 15px;
  height: 15px;
}
#aa {
  width: 380px;
  /* background-color: red; */
  transform: translateY(-15px) translateX(-160px);
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}
